:root {
    --primary-color: #ddd;
    --secondary-color: #1a1a1a ;
}

body{
   background-color: #f8f8f8; 
   margin: 0 0;
}

.map-container{
    background-color: #f8f8f8;
}

#main-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#tabs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 0;
}

#tabs button {
    background-color: var(--primary-color);;
    border: none;
    padding: 15px 0;
    width: 100%;
    margin-right: 0;
    font-size: 16px;
    cursor: pointer;
}

#tabs button:hover {
    color: white;
    background-color: var(--secondary-color);
}

#tabs button:disabled {
    color: white;
    background-color:  var(--secondary-color);
    cursor: default;
}

#tabs button:focus {
    outline: none;
}

#tabs button.active {
    background-color: var(--primary-color);
}

#map-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#map-controls select {
    padding: 5px;
    font-size: 14px;
    margin-right: 1em;
    width: 10%;
}

#map-controls #play-button {
    background-color:#f8f8f8; 
    border: none;
    padding: 10px 0;
    width: 8%;
    font-size: 16px;
    cursor: pointer;
    margin-right: 1em;
}
#map-controls #play-button:hover {
    background-color: var(--secondary-color);
    color: white;
}

#map-controls #play-button:focus {
    outline: none;
}

#map-controls label {
    margin-left: 10px;
    font-size: 15px;
}

#map-controls #fire-scale {
    width: 100%;
    margin-right: 10px;
}

#map-controls #fire-scale-value {
    font-size: 15px;
}

.map-container
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--secondary-color);;
    overflow: hidden; 
}

.map-container svg
{
    width: 100%;
    height: auto;
}

.disabled{
    display: none;
}

#anim-interval
{
    width: 2%;
    height: 100%;
    padding: 5px;
    margin-right: 1em;
}